HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local service data ###
.mysql-data/
.nacos-data/
.rabbitmq-data/
.redis-data/

### Logs and temp ###
*.log
*.LOG
logs/
tmp/

### macOS system ###
.DS_Store

# 忽略特定大文件
nacos-server-2.3.0-BETA.zip
nacos/target/nacos-server.jar

# macOS 系统文件
.DS_Store

# 日志文件
*.log
logs/
nacos/logs/
nacos/data/**/log/